.THIS {
    opacity: 1;
}

.THIS .CoveoSearchButton {
    background-color: white;
}

.THIS#CoveoPageCreator, .THIS#CoveoPageDeleter, .THIS#CoveoPageContent, .THIS#CoveoErrorTitle, .THIS#CoveoErrorInfoAdmin {
    display: none;
}